/*!Start Variables*/
:root {
  --main-purple-color: #f24c57;
  --elements-background-color: #eeecfd;
  --element-border-color: #f88992;
}

/*!end Variables*/
/* start global rules */
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.continar {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.pages .continar {
  display: flex;
  justify-content: space-between;
  width: 800px;
}
.pages .continar .border {
  position: relative;
  width: 22rem;
}
.pages .continar .border span {
  position: absolute;
  width: 100%;
  padding: 22px;
  border: 1rem solid #f88992;
  left: 26px;
  top: 40px;
}
.pages .continar .border span img {
  height: 200px;
  border-radius: 6px;
  right: 80px;
  position: relative;
}

.info {
  width: 22rem;
}
.info h2 {
  max-width: 400px;
}
.info .border-bold {
  padding-left: 70px;
  position: relative;
  font-weight: 900;
  color: var(--main-purple-color);
}
.info .border-bold::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  left: 12px;
  bottom: 6px;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--main-purple-color);
}
.info .border-bold::after {
  content: "";
  border: 3px solid;
  position: absolute;
  left: 0;
  height: 14px;
  width: 14px;
  top: 50%;
  transform: translateY(-50%);
  border-color: var(--main-purple-color);
}

p {
  margin-top: 15px;
  line-height: 1.7;
  color: #777;
  font-size: 13px;
  max-width: 450px;
}

.boxs {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
  max-width: 500px;
}
.boxs .box {
  border: 1px solid #ccc9;
  box-shadow: 2px 0 10px #ccc;
  position: relative;
  text-align: center;
  padding: 20px 0;
}
.boxs .box img {
  max-width: 45%;
}
.boxs .box::before {
  content: "";
  position: absolute;
  border: 1px solid;
  border-width: 10px;
  border-color: transparent transparent transparent var(--main-purple-color);
  right: -5px;
  transform: rotateZ(-45deg);
  top: -5px;
}
.boxs .box::after {
  counter-increment: plus;
  content: "0" counter(plus);
  font-size: 35px;
  font-family: fantasy;
  right: 17px;
  position: absolute;
  bottom: 12px;
  color: #cccccc40;
}
.boxs span {
  display: block;
  font-size: 14px;
  font-weight: bold;
}

.author {
  text-align: center;
  padding: 15px 0;
  background: #4CAF50;
  font-family: arial;
  font-weight: bold;
  margin: 10px;
}