/* start  var */
:root {
  --bagro-color: #51509b;
  --buy-color: #e5af40;
  --pric-color: #4a5568;
  --header-color: #404b5f;
}

/* end var */
/* start glo rul */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1000px;
  margin-left: 3rem;
  margin-right: 3rem;
  padding-left: 15px;
  padding-right: 15px;
}

/* end glo rul */
/* sta code */
.offer {
  background-color: var(--bagro-color);
  padding: 25px;
}
.offer h1 {
  color: white;
}
.offer h1 + p {
  color: white;
}
.offer .boxs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
}
.offer .boxs .box .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.offer .boxs .box .header i {
  color: var(--buy-color);
  margin-right: 10px;
}
.offer .boxs .box .header h1 {
  color: var(--pric-color);
  position: relative;
}
.offer .boxs .box .header h1::before {
  content: "";
  border: 3px solid var(--buy-color, 3);
  border: 3px solid rgba(229, 175, 64, 0.4784313725);
  width: 97%;
  position: absolute;
  bottom: 1px;
}
.offer .boxs .box ul li {
  font-size: 12px;
  padding: 1rem 0;
  font-weight: normal;
  line-height: 1.7;
  position: relative;
}
.offer .boxs .box ul li::before {
  content: "";
  border-bottom: 1px solid #ccc;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.offer .boxs .box .pay-way {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin-top: 15px;
  padding: 20px;
}
.offer .boxs .box .pay-way span:first-of-type {
  font-size: 45px;
  font-weight: bold;
  color: var(--pric-color);
}
.offer .boxs .box .pay-way span:first-of-type::before {
  content: "$";
  font-size: 25PX;
  bottom: 20px;
  position: relative;
  font-weight: normal;
}
.offer .boxs .box .pay-way span:first-of-type::after {
  content: "USD";
  font-size: 13PX;
  position: relative;
  font-weight: normal;
}
.offer .boxs .box .pay-way span:last-of-type {
  background-color: var(--buy-color);
  padding: 10px 15px;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}
.offer .boxs .box .team {
  color: var(--header-color);
  font-size: 13px;
}
.offer .boxs .left {
  background-color: white;
  padding: 48px;
  width: 60%;
  border-radius: 6px;
  height: 585px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.offer .boxs .right {
  background-color: white;
  padding: 48px;
  width: 45%;
  border-radius: 6px;
}
.offer .author {
  text-align: center;
  padding: 15px 0;
  background: #4CAF50;
  font-family: arial;
  font-weight: bold;
  margin: 10px;
  text-transform: uppercase;
  font-size: 20px;
}
.offer .author span {
  font-size: 40px;
  color: red;
}